@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400');
body{
    margin:0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #0e0e0e;
}

* {
    box-sizing: border-box;
  }

/* NAVBAR */
nav{
    height: 44px;
    background: #000;
}
.menu{
    position: relative;
    margin: 0 auto;
    width: 1000px;
    overflow: hidden;
}

.menu ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.menu ul li{
    list-style: none;
}

.menu ul li,
.menu ul li a{
    color: #fff;
    line-height: 44px;
    text-decoration: none;
}

.menu ul li .fa.fa-apple{
    font-size: 20px;
}
.menu ul li a.menu-item{
    transform: scale(1);
    transition: 0.5s;
    display: block;
}
.menu ul li a.menu-item.hide-item{
    transform: scale(0);
}
.menu ul li:nth-child(2) a.menu-item.hide-item{
    transition-delay: 0.6s;
}
.menu ul li:nth-child(3) a.menu-item.hide-item{
    transition-delay: 0.5s;
}
.menu ul li:nth-child(4) a.menu-item.hide-item{
    transition-delay: 0.4s;
}
.menu ul li:nth-child(5) a.menu-item.hide-item{
    transition-delay: 0.3s;
}
.menu ul li:nth-child(6) a.menu-item.hide-item{
    transition-delay: 0.2s;
}
.menu ul li:nth-child(7) a.menu-item.hide-item{
    transition-delay: 0.1s;
}
.menu ul li:nth-child(8) a.menu-item.hide-item{
    transition-delay: 0s;
}



.menu ul li:nth-child(2) a.menu-item.{
    transition-delay: 0s;
}
.menu ul li:nth-child(3) a.menu-item{
    transition-delay: 0.1s;
}
.menu ul li:nth-child(4) a.menu-item{
    transition-delay: 0.2s;
}
.menu ul li:nth-child(5) a.menu-item{
    transition-delay: 0.3s;
}
.menu ul li:nth-child(6) a.menu-item{
    transition-delay: 0.s4;
}
.menu ul li:nth-child(7) a.menu-item{
    transition-delay: 0.5s;
}
.menu ul li:nth-child(8) a.menu-item{
    transition-delay: 0.6s;
}
.search-form{
    position: absolute;
    top: 0;
    left: 25%;
    transform: translateX(-50%);
    width: 600px;
    height: 44px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.search-form.active{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
    transform: translateX(0%);
}
.search-form input{
    width: 100%;
    height: 44px;
    background: transparent;
    color: #fff;
    border: none;
    outline: none;
    font-size: 16px;
}
.search-form input::placeholder{
    color: #fff;

}
.search-form:before{
    content: '\f002';
    position: absolute;
    top: 12px;
    left: -26px;
    font-size: 18px;
    color: #fff;
    font-family: fontAwesome;
}
.close{
    position: absolute;
    right: 0;
    top: 0;
    height: 44px;
    background: #000;
    color:#fff;
    line-height: 44px;
    font-size: 18px;
    text-align: right;
    width: 20px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
}
.close.active{
    opacity: 1;
    visibility: visible;
}

@media only screen and (max-width:800px) {
    /* For tablets: */
    .menu {
      width: 80%;
      padding: 0;
    }
    .search-form {
      width: 100%;
    }
    .close {
        width: 100%;
      }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu, .search-form, .close {
      width: 100%;
    }
  }
/* END OF NAVBAR */

/* AIRPODS */
.airpods{
    background-color: #0e0e0e;
}

.airpods a{
    color: #f5f5f7;
    font-size: 12px;
}
.airpods a:hover{
    color: #0071e3;
}

/* END OF AIRPODS */

/* AIRPODS-DISPLAY STARTS */
.airpods-display{
    padding: 20px 0px 75px;
    background-color: #1D1D1F;
    color: #fff;
    text-align: center;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.airpods-display h1{
    font-size: 80px;
    line-height: 1.0625;
    font-weight: 600;
    letter-spacing: -.009em;
}

.airpods-display p{
    /* padding: 0px 104px; */
    font-size: 27px;
    font-weight: 600;
    letter-spacing: .009em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
/* AIRPODS-DISPLAY ENDS */

/* SCROLL SEQUENCE */
.scroll-container {
    height: 100vh;
    background: black;
  }
  
  .speak {
    margin: 150vh 0;
  }
  .speak:first-child {
    margin-top: -50vh;
  }
  
  .speak[data-scroll] {
    transform: translatey(calc(var(--viewport-y) * 30vh));
    opacity: calc(var(--visible-y));
  }
  
  .scroll-sequence__content {
    padding: 4em;
  }
  
  .scroll-sequence {
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -5;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }


  h1 {
    font-size: 3em;
    width: 60wv;
    margin-bottom: 10px;
    color: #fff;
  }

  p {
      color: #fff;
  }

    @media screen and (max-width: 600px) {
        h1 {
        font-size: 2em;
        width: 100%;
        }
    }
  
  :root {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #0e0e0e;
  }
  
  /* SCROLL SEQUENCE ENDS */